* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: 300px;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  border-radius: 14px;
}

.parent {
  background: red;
  min-height: 400px;
  /* height: 1px; */
  display: flex;
  flex-direction: column;
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: yellow;
  /* height: 100%; */
  flex: 1;
}

.post {
  width: 300px;
  border: 1px solid blue;
  margin-bottom: 10px;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp.two-lines {
  -webkit-line-clamp: 2;
  line-clamp: 2 "... (continue)";
}

.clamp.three-lines {
  -webkit-line-clamp: 3;
}
