* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: 300px;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  border-radius: 14px;
}

.parent {
  background: red;
  min-height: 400px;
  /* height: 1px; */
  display: flex;
  flex-direction: column;
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: yellow;
  /* height: 100%; */
  flex: 1;
}

.post {
  width: 300px;
  border: 1px solid blue;
  margin-bottom: 10px;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp.two-lines {
  -webkit-line-clamp: 2;
  line-clamp: 2 "... (continue)";
}

.clamp.three-lines {
  -webkit-line-clamp: 3;
}

.realm {
  background: blue;
  min-height: 400px;
  /* border-redius: 20px;
  border-bottom-left-radius: 159px 769px;
  border-bottom-right-radius: 159px 769px; */
  /* border: 5px solid black; */
  clip-path: circle(40%);
  /* clip-path: polygon(50& 0%, 61% 35%); */
}

.banner {
  display: grid;
  place-items-center: place-items;
  /* min-height: 500px; */

  background: url("/fall.jpg") no-repeat;
  mask: url("/cloud-fog.svg");
  mask-repeat: repeat;
  mask-position: bottom;
  mask-size: cover;
  /* mask-size: 50% 100%; */
}

 .banner-img {
  bottom: 200px;
  z-index: 1000:
 }

