@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: underline;
}

.flex,
.row {
  display: flex;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  flex: 1;
  padding: 10px;
}

.box {
  background: #e3e3e3;
  height: 100px;
}

.section {
  paadding: 30px;
}

header {
  background-image: linear-gradient(to right, #a25b5b, #692e4c);
  /* padding: 2.5em; */
}

header h1 {
  margin-top: 0;
  font-size: 1.6em;
}

.header-top {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
}

.header-top a {
  color: inherit;
  text-transform: uppercase;
}

header a {
  text-transform: uppercase;
  text-decoration: none;
}

header a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

nav a:not(:last-child) {
  margin-right: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* 
flex class
*/

.flex {
  display: flex;
}
.fdr {
  flex-direction: row;
}
.fdc {
  flex-direction: column;
}

.fjc-fs {
  justify-content: flex-start;
}
.fjc-fe {
  justify-content: flex-end;
}
.fjc-center {
  justify-content: center;
}
.fjc-sb {
  justify-content: space-between;
}
.fjc-sa {
  justify-content: space-around;
}
.fai-fs {
  align-items: flex-start;
}
.fai-fe {
  align-items: flex-end;
}
.fai-center {
  align-items: center;
}
.text-white,
a.text-white,
.text-white a {
  color: white;
}

/*
padding class
*/
.px-s {
  padding: 0 1rem;
}

.pt-s {
  padding-top: 1rem;
}
.pb-s {
  padding-bottom: 1rem;
}
.pb-l {
  padding-bottom: 4rem;
}
.pt-l {
  padding-top: 4rem;
}
.px-l {
  padding: 0 4rem;
}
.py-s {
  padding: 1rem 0;
}
.py-l {
  padding: 4rem 0;
}
