/* html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
} */
.container {
  width: 1000px;
  margin: auto;
}

.box {
  padding: 20px;
  border: 1px solid #ddd;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns:not(:last-child) {
  margin-bottom: 20px;
}

.column {
  flex: 1;
}

.column.is-6 {
  width: 50%;
  flex: none;
}

.column.is-4 {
  width: 33.33333%;
  flex: none;
}

.column.is-2 {
  width: 16.66667%;
  flex: none;
}
