* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00b1b3;
  padding: 1em;
}

@media screen and (max-width: 767px) {
  nav {
    display: block;
  }
  nav a {
    display: block;
  }
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
}

.nav-item {
  color: white;
  padding: 0 0.5em;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: end;
}

.nav-item:hover {
  opacity: 0.75;
}

.nav-item .material-icons {
  color: inherit;
  padding-right: 6px;
}
