html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h4 {
  margin: 0;
}

.box {
  border: 1px solid #cecece;
  padding: 20px;
}

.media {
  display: flex;
  width: 100%;
}

.media-left {
  margin-right: 1em;
}

.media-content {
  flex: 1;
}

.media-content textarea {
  width: 100%;
  min-height: 100px;
  padding: 0;
  border-color: #cecece;
}

.media-content-buttons {
  text-align: right;
}
