<main>
  <form action="/users/edit/{{user.id}}" method="POST" class="user-form">
    <div class="form-control">
      <label for="username">Username</label>
      <input type="text" name="username" value="{{user.username}}">
    </div>
    <div class="form-control">
      <label for="age">Age</label>
      <input type="number" name="age" value="{{user.age}}">
    </div>
    <button type="submit">Send</button>
  </form>
</main>