<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header class="header">
    <nav class="header-nav">
      <ul class="header-item-list">
        <li class="header-item"><a href="/">Main Page</a></li>
        <li class="header-item"><a href="users/add-users">Add users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Users list</h1>
    <p>Users lists....</p>
    <div class="card">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Age: 33</p>
      </div>
    </div>
  </main>
</body>
</html>